{% comment %}
Render a table row about an untriaged test with only status icon (with a untriaged subtest counter) and name

Args:
    test (KCIDBTest): instance to be detailed
    strip_id_prefix (str): Remove a matching prefix from each test id
{% endcomment %}
{% load strutils %}
{% load styles %}

{# NOTE: We are rendering untriaged tests, they are definitely actionable #}
{% with url_name='views.kcidb.tests' id=test.iid style=test|get_test_style %}
  <tr class="d-flex {{ style }} border-left-status table-status">
    <td class="col-1"  align="left">
      <a href="{% url url_name id %}" class="clickable-cell">
        <i title="Waived test (this result does not affect overall test result)"
           class="fas {% include 'waived_icon.html' with waived=test.waived %}"></i>
        <i class="{{ style.icon_name }} text-status"></i>
        {% with untriaged_failures_count=test.untriaged_failures_count %}
        {% if untriaged_failures_count %}
        <sub class="text-danger" title="{{ untriaged_failures_count }} untriaged subtest failure{{ untriaged_failures_count|pluralize }}">
          {{ untriaged_failures_count }}
        </sub>
        {% endif %}
        {% endwith %}
      </a>
    </td>
    {% include 'tables/cell_clickable.html' with size='3' text=test.id|remove_prefix:strip_id_prefix extra_attr='align="center"' %}
    {% include 'tables/cell_clickable.html' with size='8' text=test.test.name %}
  </tr>
{% endwith %}
