{% comment %}
Render a table about builds

Args:
    builds: iterable of KCIDBBuilds with annotations from KCIDBBuildQuerySet.aggregated()
    hide_checkout_columns (bool): Hide columns about the parent KCIDBCheckout object.
    strip_id_prefix (str): Remove matching prefix from the ID column
{% endcomment %}
{% load cache %}
{% load styles %}
{% load getattribute %}
{% load strutils %}

<div class="table-responsive">
  <table class="table table-hover table-sm" width="100%" cellspacing="0">
    <thead>
      <tr>
        <th></th>
        <th>ID</th>
        {% if not hide_checkout_columns %}
        <th>Tree</th>
        <th>Branch</th>
        {% endif %}
        <th>Arch</th>
        <th>Debug</th>
        <th>Package Name</th>
        {% if hide_checkout_columns %}
        <th>Compiler</th>
        {% endif %}
        <th>Start Time</th>
        <th class=" text-center">Valid</th>
        <th class=" text-center">Tests</th>
      </tr>
    </thead>
    <tbody>
      {% for build in builds %}
        {% cache DEFAULT_CACHE_TTL_S table_kcidb_builds_row build.iid strip_id_prefix %}
        {% with url_name='views.kcidb.builds' id=build.iid actionable=build.is_missing_triage %}
        {% with style=build.valid|get_style:actionable %}
          <tr class="{{ style }} border-left-status table-status">
            <td align="center" class="table-status">
            {% if not hide_checkout_columns and build.retrigger %}
            <i class="fas fa-recycle" title="This build came from a retriggered pipeline"></i>
            {% endif %}
            </td>
            {% include 'tables/cell_clickable.html' with text=build.id|remove_prefix:strip_id_prefix|truncatechars:42 title=build.id %}

            {% if not hide_checkout_columns %}
            {% include 'tables/cell_clickable.html' with text=build.checkout.tree.name %}
            {% include 'tables/cell_clickable.html' with text=build.checkout.git_repository_branch %}
            {% endif %}

            {% include 'tables/cell_clickable.html' with text=build.get_architecture_display %}
            {% include 'tables/cell_clickable.html' with text=build.debug|yesno:"debug," %}
            {% include 'tables/cell_clickable.html' with text=build.package_name %}

            {% if hide_checkout_columns %}
            {% include 'tables/cell_clickable.html' with text=build.compiler.name|truncatechars:42 title=build.compiler.name %}
            {% endif %}

            {% include 'tables/cell_clickable.html' with text=build.start_time %}

            <!-- Build valid cell -->
            <td align="center" class="{{ style }} table-status">
              <a href="{% url url_name id %}" title="{{ build.valid|yesno:"Build is Valid, Build is Not Valid" }}" class="clickable-cell">
                <i class="{{ style.icon_name }} text-status"></i>
                {% if build.valid is False and not actionable %}
                <i class="fas fa-bug text-danger" title="Has issues associated"></i>
                {% endif %}
              </a>
            </td>

            <!-- Tests cell -->
            {% if build.stats_tests_run_count %}
            <td align="center" class="{{ build.stats_tests_status|get_style:build.stats_tests_actionable }} border-left-status table-status">
              <a href="{% url url_name id %}" class="clickable-cell">
                {% include 'icons_test_status.html' with object=build %}
              </a>
            </td>
            {% else %}
            {% include 'tables/cell_clickable.html' with text="-" extra_attr='align="center"' %}
            {% endif %}
          </tr>
        {% endwith %}
        {% endwith %}
        {% endcache %}
      {% endfor %}
    </tbody>
  </table>
</div>
