{% load styles %}
{% load getattribute %}
{% load strutils %}

<div class="table-responsive">
  <table class="table table-hover table-sm" width="100%" cellspacing="0">
    <thead>
      <tr>
        <th>ID</th>
        <th>Start Time</th>
        {% for arch in architectures %}
          <th> {{ arch.name }} </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
    {% for checkout in checkouts %}
      {% with url_name='views.kcidb.checkouts' id=checkout.iid %}
        <tr>
          {% include 'tables/cell_clickable.html' with size='2' text=checkout.id|truncatechars:41 title=checkout.id %}
          {% include 'tables/cell_clickable.html' with size='1-big' text=checkout.start_time|timesince|addstr:' ago' %}

          {% if not checkout.valid %}
            <td class="table-danger" colspan="{{ architectures|length }}" align="center">
              <i class="fas fa-times text-danger" title="Checkout is invalid"></i>
            </td>
          {% else %}

          {% for arch in architectures %}
            {% with tested_arch=checkout.annotated_by_architecture|getattribute:arch.name %}
              {# Set the cell style depending on the overall status #}
              <td align="center"
              {% if not tested_arch.builds.ran and not tested_arch.tests.ran %}
                  class=""
              {% elif tested_arch.builds.failed_untriaged or tested_arch.tests.failed_untriaged %}
                  class="table-danger"
              {% else %}
                  class="table-success"
              {% endif %}
                  >
                <a href="{% url url_name id %}" class="clickable-cell">
                {% if tested_arch.builds.ran or tested_arch.tests.ran %}
                  {% if tested_arch.builds.ran and not tested_arch.builds.failed_untriaged and tested_arch.tests.ran and not tested_arch.tests.failed_untriaged %}
                    <i class="fas fa-check text-success" title="{{ tested_arch.builds.ran }} build{{ tested_arch.builds.ran|pluralize }} and {{ tested_arch.tests.ran }} test{{ tested_arch.tests.ran|pluralize }} succeeded"></i>
                  {% else %}
                    {# Build status #}
                    {% if tested_arch.builds.ran %}
                      {% if not tested_arch.builds.failed_untriaged %}
                      <i class="fas fa-check text-success" title="{{ tested_arch.builds.ran }} build{{ tested_arch.builds.ran|pluralize }} succeeded"></i>
                      {% else %}
                      <i class="fas fa-times text-danger" title="{{ tested_arch.builds.failed_untriaged }} build{{ tested_arch.builds.failed_untriaged|pluralize }} failed"></i>
                      {% endif %}
                    {% else %}
                      <i class="far fa-window-minimize text-warning" title="No build ran"></i>
                    {% endif %}
                    {# Test status #}
                    {% if tested_arch.tests.ran %}
                      {% if not tested_arch.tests.failed_untriaged %}
                      <i class="fas fa-check text-success" title="{{ tested_arch.tests.ran }} test{{ tested_arch.tests.ran|pluralize }} succeeded"></i>
                      {% else %}
                      <i class="fas fa-times text-danger" title="{{ tested_arch.tests.failed_untriaged }} test{{ tested_arch.tests.failed_untriaged|pluralize }} failed"></i>
                      {% endif %}
                    {% else %}
                      <i class="far fa-window-minimize text-warning" title="No test ran"></i>
                    {% endif %}
                  {% endif %}
                  {# Other icons #}
                  {% if tested_arch.tests.failed_waived %}
                    <i class="fas fa-flag text-warning" title="{{ tested_arch.tests.failed_waived }} waived test{{ tested_arch.tests.failed_waived|pluralize }} failed"></i>
                  {% endif %}
                  {% if tested_arch.known_issues %}
                    <i class="fas fa-bug text-danger" title="Has {{ tested_arch.known_issues }} object{{ tested_arch.known_issues|pluralize }} with known issues associated"></i>
                  {% endif %}
                {% endif %}
                </a>
              </td>
            {% endwith %}
          {% endfor %}
        {% endif %}
        </tr>
      {% endwith %}
    {% endfor %}
    </tbody>
  </table>
</div>
