{% comment %}
Render a table of KCIDBTestResult with links to their detailed view.

At the moment "testresult-detail" consists of a row in table_kcidb_test_results.html, within "test-detail".

Args:
  results: iterable of KCIDBTestResult
{% endcomment %}

{% load styles %}
{% load strutils %}

<div class="table-responsive">
  <table class="table table-hover table-sm" width="100%" cellspacing="0">
    <tbody>
      {% for result in results %}
        {% with url_name='views.kcidb.tests' id=test.iid|default:result.test.iid position="result-"|addstr:result.iid style=result.status|get_style %}
          <tr class="d-flex {{ style }} border-left-status table-status">
            <td class="col-1 clickable-cell text-center">
              <i class="{{ style.icon_name }} text-status"></i>
              {% if result.issues.exists %}
                <i class="fas fa-bug text-danger" title="Has issues associated"></i>
              {% endif %}
            </td>
            {% include 'tables/cell_clickable.html' with size='5' text=result.id|remove_prefix:strip_id_prefix %}
            {% include 'tables/cell_clickable.html' with size='6' text=result.name %}
          </tr>
        {% endwith %}
      {% endfor %}
    </tbody>
  </table>
</div>
