{% extends "base.html" %}
{% load serialize %}
{% load strutils %}

{% block title %}
Issues Regexes
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'issue_list' %}">Issues</a></li>
    <li class="breadcrumb-item active" aria-current="page">Issue Regexes</li>
  </ol>
</nav>
{% endblock %}

{% block content %}

<div class="tab-content">
  <div class="tab-pane active">

    {% if perms.datawarehouse.add_issueregex %}
    <div class="col-xl-4 col-md-6 mb-2">
      <div class="row">
        <span class="dropdown">
          <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Actions
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{% url 'views.issue_regex.form' %}">New Issue Regex</a>
          </div>
        </span>
      </div>
    </div>
    {% endif %}

    <div class="card border-bottom-primary shadow h-100 mb-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            {% include 'tables/table_issue_regex.html' with show_issue=True %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% with paginator=issue_regexes %}
{% include 'paginator.html' %}
{% endwith %}

{% endblock %}
