{% extends "base.html" %}
{% load strutils %}
{% load url_replace %}

{% block title %}
Issues
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Issues</li>
  </ol>
</nav>
{% endblock %}

{% block content %}

<div class="col-xl-4 col-md-6 mb-2">
  <div class="row">
    {% if perms.datawarehouse.add_issue %}
    <span class="dropdown">
      <button class="btn btn-primary btn-sm dropdown-toggle mr-2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Actions
      </button>
      <div class="dropdown-menu">
        {% if perms.datawarehouse.add_issue %}
        <a href="{% url 'views.issue.new_or_edit' %}?new=true" class="dropdown-item">New Issue</a>
        {% endif %}
      </div>
    </span>
    {% endif %}
  </div>
</div>

<form class="form-inline" action="" method="get">
  <div class="input-group mb-2 mr-sm-2">
    <select class="form-control" id="resolved" name="resolved">
      <option disabled selected hidden>Status</option>
      <option value="">(Any)</option>
      <option value="True" {% if resolved == 'True' %}selected{% endif %}>Resolved</option>
      <option value="False" {% if resolved == 'False' %}selected{% endif %}>Not Resolved</option>
    </select>
  </div>

  <div class="input-group mb-2 mr-sm-2">
    <select class="form-control" id="last_seen_ago" name="last_seen_ago">
      <option disabled selected hidden>Last tagged</option>
      <option value="">(Any)</option>
      <option value="1 week" {% if last_seen_ago == '1 week' %}selected{% endif %}>1 week ago</option>
      <option value="4 weeks" {% if last_seen_ago == '4 weeks' %}selected{% endif %}>1 month ago</option>
      <option value="24 weeks" {% if last_seen_ago == '24 weeks' %}selected{% endif %}>6 months ago</option>
      {% if last_seen_ago not in '1 week 4 weeks 24 weeks' %}
      <option value="{{ last_seen_ago }}" selected hidden>{{ last_seen_ago }} ago</option>
      {% endif %}
    </select>
  </div>

  <div class="input-group mb-2 mr-sm-2">
    <input type="text" name="search" class="form-control border-0 small" placeholder="Search for issues..." value="{{ search|default:'' }}">
  </div>

  <button type="submit" class="btn btn-primary mb-2">Filter</button>
</form>

<div class="tab-content">
  <div class="tab-pane active">
    {% for issue in issues %}
      {% include "card_issues_list.html" %}
    {% endfor %}
    {% include 'paginator.html' with paginator=issues %}
  </div>
</div>

{% endblock %}

{% block script %}
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
{% endblock %}
