{% extends "admin/base_site.html" %}
{% block content %}
<h1>Confirm Update</h1>
<p>You have selected <strong>{{ selected_package_names }}</strong>.</p>
<p>You are about to update <strong>{{ affected_count }}</strong> builds.</p>
<p>New package name: <strong>{{ new_value }}</strong></p>
<form method="post">
    {% csrf_token %}
    {% for package in selected_package_names %}
        <input type="hidden" name="package_names" value="{{ package }}">
    {% endfor %}
    <input type="hidden" name="new_value" value="{{ new_value }}">
    <input type="submit" name="confirm" value="Confirm">
</form>
<a href="..">Cancel</a>
{% endblock %}
