{% comment %}
Render a card with header and body, showing "last_triaged_at".

Args:
  object (KCIDBCheckout | KCIDBBuild | KCIDBTest): KCIDB object to show "last_triaged_at"
{% endcomment %}
<div class="row">
  <div class="col-xl-12 mb-2">
    <div class="card">
      <div class="card-header">
        Automated actions
      </div>
      <div class="card-body">
        <label>Last Triaged At:</label> {{ object.last_triaged_at|default:'Never' }}
      </div>
    </div>
  </div>
</div>
