{% load queryset_utils %}
{% load getattribute %}

<div class="card border-bottom-danger shadow h-100 mb-2">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <div class="text-xs font-weight-bold text-uppercase mb-1">
        Issue
      </div>

      {% if issue.tags %}
      <span class="ml-2">
        {% for tag in issue.tags_as_IssueTagChoices %}
        <span class="badge badge-{{ tag.color }} mr-1" title="{{ tag.label }}" data-toggle="tooltip" data-placement="top" >
          {{ tag.value }}
        </span>
        {% endfor %}
      </span>
      {% endif %}
    </div>

    <div class="h5 mb-1 font-weight-bold">
      {% if issue.resolved %}
      <span class="badge badge-success">Resolved</span>
      {% endif %}
      <span class="badge badge-danger" title="{{ issue.kind.description }}">{{ issue.kind.tag }}</span>
      {% include 'user_ball.html' with user=issue.created_by timestamp=issue.created_at title='Created by' %}
      {% if issue.was_edited %}
        {% include 'user_ball.html' with user=issue.last_edited_by timestamp=issue.last_edited_at title='Last edited by' %}
      {% endif %}
      <a href="{% url 'views.issue.get' issue.id %}">{{issue.description}}</a>
    </div>

    <br>

    {% with checkouts=issue.checkouts|trim_queryset %}
      {% if checkouts %}
        <label>List of Checkouts</label>
        {% include 'tables/table_kcidb_simple.html' %}
      {% endif %}
    {% endwith %}

  </div>
</div>
