<div class="row">
  <div class="col-xl-12 mb-2">
    <div class="card">
      <div class="card-header">
          Log Excerpt
      </div>
      <div class="card-body overflow-scroll">
        <code>{{ obj.log_excerpt }}</code>
      </div>
    </div>
  </div>
</div>
