{% comment %}
Render a modal with triageable checkouts, builds, tests and results

Args:
  item=KCIDBCheckout|KCIDBBuild|KCIDBTest
  issues (list[Issue]): Iterable with all authorized Issues
  checkouts_failed (list[KCIDBCheckout]): Iterable with checkouts that can be triaged
  builds_failed (list[KCIDBBuild]): Iterable with builds that can be triaged
  tests_failed (list[KCIDBTest]): Iterable with tests that can be triaged
  strip_id_prefix (str): String to remove from matching ID's prefix
{% endcomment %}
{% load static %}
{% load styles %}
{% load getattribute %}
{% load strutils %}

<div class="modal fade" id="issueOccurrenceModal" tabindex="-1" role="dialog" aria-labelledby="issueOccurrenceModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="issueOccurrenceModalLabel">Associate Issues</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action={% url 'views.kcidb.issues' %} method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="issue_id">Issue Type</label>
            <input type="text"
                   id="issue_type_filter"
                   placeholder="Text to filter issue types in the dropdown below" />
            <select required class="form-control" id="issue_id" name="issue_id">
              <option value="">Select an option</option>
              {% for issue in issues %}
              <option value="{{ issue.id }}">{{ issue.kind.tag  }} | {{ issue.description }}</option>
              {% endfor %}
            </select>
            <div align="right">
              <a href="{% url 'views.issue.new_or_edit' %}?new=true&redirect_to={{ request.get_full_path }}%23issueoccurrence">Create New Issue</a>
            </div>
          </div>

          {% if checkouts_failed %}
          <div class="form-group">
            <label for="buildTable">Faulty Checkouts</label>
            <div class="table-responsive">
              <table class="table table-bordered" id="buildTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th></th>
                    <th>ID</th>
                  </tr>
                </thead>
                <tbody>
                  {% for checkout in checkouts_failed %}
                    <tr class="border-left-danger table-danger border-left-danger table-danger">
                      <td>
                        <input type="checkbox" value="{{ checkout.iid }}" name="checkout_iids">
                      </td>
                      <td>{{ checkout.id }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          {% endif %}

          {% if builds_failed %}
          <div class="form-group">
            <label for="buildTable">Faulty Builds</label>
            <div class="table-responsive">
              <table class="table table-bordered" id="buildTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th></th>
                    <th>ID</th>
                    <th class="text-center">Architecture</th>
                    <th class="text-center">Valid</th>
                  </tr>
                </thead>
                <tbody>
                  {% for build in builds_failed %}
                    {% with style=build.valid|get_style:build.is_missing_triage %}
                    <tr class="{{ style }} border-left-status table-status">
                      <td class="text-center">
                        <input type="checkbox" value="{{ build.iid }}" name="build_iids">
                      </td>
                      <td>{{ build.id }}</td>
                      <td class="text-center">{{ build.get_architecture_display }}</td>
                      <td class="text-center"><i class="{{ style.icon_name }} text-status"></i></td>
                    </tr>
                    {% endwith %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          {% endif %}

          {% if tests_failed %}
          <div class="form-group">
            <div class="table-responsive">
              <table class="table table-bordered" id="testTable" width="100%" cellspacing="0">
                <caption style="caption-side: top;">Faulty Tests and Results</caption>
                <thead>
                  <tr>
                    <th>
                      <input type="checkbox" id="issueOccurrenceModalToggleAll" onclick="newIssueOccurrenceToggleAllClick()" checked>
                    </th>
                    <th>ID</th>
                    <th>Architecture</th>
                    <th>Name</th>
                    <th>Result</th>
                  </tr>
                </thead>
                <tbody>
                  {% for test in tests_failed %}
                    {% with test_issues_exists=test.issues.exists results_exists=test.kcidbtestresult_set.exists style=test|get_test_style %}
                      <tr class="{{ style }} border-left-status table-status">
                        <td style="min-width:2em">
                          {% comment %} Only show test checkbox when there aren't results {% endcomment %}
                          {% if results_exists %}
                            ▼
                          {% else %}
                          <input type="checkbox" value="{{ test.iid }}" name="test_iids"
                            {% if not test_issues_exists and test.get_status_display == 'FAIL' %}
                            checked class='issueOccurrenceModalPreselected'
                            {% endif %}>
                          {% endif %}
                        </td>
                        <td>{{ test.id|remove_prefix:strip_id_prefix }}</td>
                        <td>{{ test.build.get_architecture_display }}</td>
                        <td>{{ test.test.name }}</td>
                        <td align="center">
                          {% if test_issues_exists %}
                          <i class="fas fa-bug text-danger" title="Triaged"></i>
                          {% endif %}
                          <i title="Waived test (this result does not affect overall test result)"
                             class="fas {% include 'waived_icon.html' with waived=test.waived %}"></i>
                          <i class="{{ style.icon_name }} text-status"></i>
                        </td>
                      </tr>
                      {% if results_exists %}
                      {% for result in test.kcidbtestresult_set.all %}
                        {% if result.status in models_KCIDBTest_UNSUCCESSFUL_STATUSES %}
                        {% with style=result|get_test_style result_issues_exists=result.issues.exists %}
                        <tr class="{{ style }} border-left-status table-status results-{{ test.iid }}" style="border-left-style: dotted !important;">
                          <td style="min-width:2em">
                            <input type="checkbox" name="testresult_iids" value="{{ result.iid }}"
                            {% if not result_issues_exists and result.get_status_display == 'FAIL' %}
                            checked class='issueOccurrenceModalPreselected'
                            {% endif %}>
                          </td>
                          <td>&emsp; {{ result.id|remove_prefix:test.id }}</td>
                          <td></td>
                          <td>{{ result.name }}</td>
                          <td align="center">
                            {% if result_issues_exists %}
                            <i class="fas fa-bug text-danger" title="Triaged"></i>
                            {% endif %}
                            <i title="Waived test (this result does not affect overall test result)"
                             class="fas {% include 'waived_icon.html' with waived=result.test.waived %}"></i>
                            <i class="{{ style.icon_name }} text-status"></i>
                          </td>
                        </tr>
                        {% endwith %}
                        {% endif %}
                      {% endfor %}
                      {% endif %}
                    {% endwith %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          {% endif %}
          <input type="hidden" id="redirect_to" name="redirect_to" value="{{ request.get_full_path }}">
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'js/custom.js' %}"></script>
<script>
  function newIssueOccurrenceToggleAllClick() {
      let toggle = document.getElementById("issueOccurrenceModalToggleAll");
      for (let box of document.querySelectorAll('.issueOccurrenceModalPreselected')) {
          box.checked = toggle.checked;
      }
  }

  const issueTypes = [
      {% for issue in issues %}
      {
          id: {{ issue.id }},
          tag: "{{ issue.kind.tag  }}",
          description: "{{ issue.description }}"
      },
      {% endfor %}
  ];

  document.getElementById('issue_type_filter').addEventListener('input', function(e) {
      filterDropdown(e.target.value, 'issue_id', issueTypes);
  });

</script>
