{% load avatar %}
<li class="nav-item dropdown no-arrow">
  <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="mr-2 d-none d-lg-inline text-gray-600 small">
        {% if user.is_authenticated %}
        {{ user.first_name }}
        {% else %}
        Anonymous
        {% endif %}
    </span>
    {% if user.is_authenticated %}
    <img class="img-profile rounded-circle" src="{{ user.email|avatar_url }}">
    {% endif %}

  </a>
  <!-- Dropdown - User Information -->
  <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
    {% if user.is_authenticated %}
      <a class="dropdown-item" href="{% url 'account.user.get' request.user.username %}">Profile</a>
      <a class="dropdown-item" href="{% url 'account.user.settings' %}">Settings</a>
      {% if user.is_staff %}
      <a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a>
      {% endif %}

      <form class="dropdown-item text-center" id="logout-form" method="post" action="{% if FF_OIDC_ENABLED %}{% url 'oidc_logout' %}{% else %}{% url 'logout' %}{% endif %}">
        {% csrf_token %}
        <button class="btn btn-block btn-sm btn-secondary" type="submit">Logout</button>
      </form>
    {% else %}
      <a class="dropdown-item" href="{% url 'login' %}?next={{ request.get_full_path }}">Login</a>
    {% endif %}
  </div>
</li>
