{% extends "base_single_card.html" %}

{% block title %}
Login
{% endblock %}

{% block card %}
<div class="text-center">
  <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
  {% if form.errors %}
  <div class="alert alert-danger" role="alert" id="credentials_error">
    Your username and password didn't match. Please try again.
  </div>
  {% endif %}
</div>
<form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  <input type="hidden" name="next" value="{{ next }}">
  <div class="form-group">
    <input type="text" name="username" id="username"
           class="form-control form-control-user"
           placeholder="Enter Username...">
  </div>
  <div class="form-group" style="margin-bottom: 0 !important">
    <input type="password" name="password" id="password"
           class="form-control form-control-user"
           placeholder="Password" autocomplete="off">
  </div>
  <small class="float-right" style="margin-bottom: 1rem; display: block"><a href="{% url 'password_reset' %}">Forgot your password?</a></small>
  <input type="submit" class="btn btn-primary btn-user btn-block" value="Login"/>
  {% if FF_OIDC_ENABLED %}
  <hr>
  <div id="login_oidc_button_container">
    <a href="{% url 'oidc_authentication_init' %}?next={{ next }}"
       class="btn btn-primary btn-user btn-block">Login with Red Hat OpenID</a>
  </div>
  {% endif %}
  {% if FF_SAML_ENABLED %}
  <hr>
  <div id="login_saml_button_container">
    <a href="{% url 'saml2_login' %}?next={{ next }}"
       class="btn btn-primary btn-user btn-block">Login with {{ SAML_NAME }}</a>
  </div>
  {% endif %}
  {% if FF_SIGNUP_ENABLED %}
  <hr>
  <small>Don't have an account? <a href="{% url 'account.signup' %}">Create an account</a>{% if FF_OIDC_ENABLED or FF_SAML_ENABLED %}, or just login using SSO.{% endif %}</small>
  {% endif %}
</form>
{% endblock %}
