{% extends "base_single_card.html" %}

{% block title %}
Oops
{% endblock %}

{% block card %}
<div class="text-center">
  <h1 class="h4 text-gray-900 mb-4">Something went wrong</h1>
  <p>{{ error }}</p>
</div>
{% endblock %}
