{% extends "base.html" %}
{% load artifacts %}
{% load getattribute %}
{% load strutils %}
{% load styles %}
{% load timetag %}

{% block title %}
Test {{ test.id }}
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'views.kcidb.checkouts' test.build.checkout.iid %}">Checkout {{ test.build.checkout.id }}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'views.kcidb.builds' test.build.iid %}">Build {{ test.build.id | remove_prefix:test.build.checkout.id }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Test {{ test.id | remove_prefix:test.build.id }}</li>
  </ol>
</nav>
{% endblock %}

{% block content %}

{% include 'modal_new_issue_occurrence.html' with item=test strip_id_prefix="" issues=issues checkouts_failed=None builds_failed=None tests_failed=tests_failed  %}

<!-- Start dropdown menu -->
<div class="col-xl-4 col-md-6 mb-2">
  <div class="row">
    <span class="dropdown">
      <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Actions
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a href="{% url 'kcidb.tests.get' test.iid %}" class="dropdown-item">View in API</a>
        {% if perms.datawarehouse.change_kcidbtest %}
        <a class="dropdown-item" data-toggle="modal" data-target="#issueOccurrenceModal" href="#">Associate Issue</a>
        {% endif %}
      </div>
    </span>
  </div>
</div>
<!-- End dropdown menu -->

<div class="row">
  <div class="col-xl-12 mb-2">
    {% with obj=test.get_status_display style=test|get_test_style %}
    <div class="card {{ style }} border-left-status shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-uppercase mb-1">Test Status</div>
            <div class="h5 mb-0 font-weight-bold text-status">{{ obj|default:'Running' }}</div>
          </div>
          <div class="col-auto">
            {% if test.waived %}
              <i title="Waived test (this result does not affect overall test result)" class="fas fa-2x fa-flag text-warning"></i>
            {% endif %}
            <i class="{{ style.icon_name }} text-status fa-2x"></i>
            {% if test.targeted %}
              <i class="fas fa-2x fa-bullseye text-success" title='Is targeted'></i>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endwith %}
  </div>
</div>

<div class="row">
  <div class="col-xl-12 mb-2">
    <div class="card">
      <div class="card-header {{ test|get_test_style }} border-left-status">
        <div class="row">
          <div class="col">
            <label>Test ID: </label>
            {{ test.id }}
          </div>
          <div class="col" align="right">
            {% include 'link_gitlab_mergerequest.html' with checkout=test.checkout %}
            {% for component in test.provenance.all %}
            {% include 'link_provenance_component.html' with component=component %}
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="card-body mt-0">
        <div class="row">
          <div class="col-6">
            <label>Description:</label>
            {% if test.test %}
            <a href="{% url 'views.details' 'test' test.test.id %}">{{ test.test.name |default:'' }}</a>
            {% endif %}
          </div>

          {% if test.test.fetch_url %}
          <div class="col-12">
            <label>Fetch URL:</label>
            <a href="{{ test.test.web_url }}">{{ test.test.fetch_url }}</a>
          </div>
          {% endif %}

          {% with maintainers=test.test.maintainers.all %}
            {% if maintainers %}
              <div class="col-12">
                <label>Maintainers:</label>
                {% for maintainer in maintainers %}
                  {% include 'popover_maintainer.html' with maintainer=maintainer %}
                  {% if not forloop.last %}-{% endif %}
                {% endfor %}
              </div>
            {% endif %}
          {% endwith %}

          <div class="col-6">
            <div class="row">
              <div class="col">
                <i class="fas fa-clock"></i>
                <label>Start Time:</label> {{ test.start_time|default:'' }}
              </div>
              <div class="col" >
                <i class="fas fa-hourglass-half"></i>
                <label>Duration:</label> {{ test.duration|default:''|timetag }}
              </div>
            </div>
          </div>

          <div class="col-6">
            <label>Environment:</label>
            {% if test.environment %}
            <a href="{% url 'views.details' 'host' test.environment.id %}">{{ test.environment.fqdn|default:'' }}</a>
            {% endif %}
            <br/>
          </div>

          {% if test.retrigger %}
          <div class="col-6">
            <label title="This test came from a retriggered pipeline">Retrigger:</label> <i class="fas fa-check"></i>
            <br/>
          </div>
          {% endif %}

          {% if test.log %}
          <div class="col-12">
            <label>Log URL:</label>
            <a href="{{ test.log.url|default:'' }}">main-output.log</a>
            <br/>
          </div>
          {% endif %}
        </div>
      </div>

    </div>
  </div>
</div>

{% if test.log_excerpt %}
{% include 'card_log_excerpt.html' with obj=test %}
{% endif %}

<!-- Display cards with untriaged test results -->
{% include 'card_kcidb_testresult_untriaged.html' with strip_id_prefix=test.id test=test %}

<!-- Display all test issues. -->
{% for grouped_issue in grouped_issues %}
  {% include 'card_issue_occurrence.html' with strip_id_prefix=test.id grouped_issue=grouped_issue %}
{% endfor %}

{% if results %}
<div class="row">
  <div class="col-xl-12 mb-2">
    <div class="card shadow">
    <div class="card-header py-3">
      Test Results
    </div>
      <div class="card-body">
        {% include 'tables/table_kcidb_test_results.html' with strip_id_prefix=test.id results=results test=test %}
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if test.log or test.output_files.exists %}
<div class="row">
  <div class="col-xl-12 mb-2">
    <div class="card shadow">
      <div class="card-header py-3">
        Output Files
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <ul>
            {% if test.log %}
              <li>
                <a href="{{ test.log.url }}" title="The same file shown as 'Log URL' above">
                  main-output.log
                  <span class="text-muted">(aka {{ test.log.name }})</span>
                </a>
              </li>
            {% endif %}
            {% for file in test.output_files.all|dictsort:"name" %}
              {% if file.url != test.log.url %}
              <li>
                <a href="{{ file.url }}" >{{ file.name }}</a>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}
  {% if test.start_time|older_than_artifacts_default_expiry %}
    <div class="alert alert-warning" role="alert">
      <i class="fas fa-snowplow"></i>
      <strong>Heads up!</strong> This test is pretty old, artifacts may be deleted already.
    </div>
  {% endif %}
{% endif %}

{% include 'card_actions.html' with object=test %}

{% endblock %}

{% block script %}
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })

  $(function () {
    $('[data-toggle="popover"]').popover(
      {
          'html': true,  // Treat the content as html.
      }
    ).on('click', function (e) {
      // Close other open popovers when clicking one
      $('[data-toggle="popover"]').not(this).popover('hide');
     });
  })

</script>
<script>
  var url = window.location.href;
  if (url.indexOf('#issueoccurrence') != -1) {
      $('#issueOccurrenceModal').modal('show');
  }
</script>

<script>
  $(".rotate").click(function(){
    $(this).toggleClass("down")  ;
  })
</script>
{% endblock %}
