{% extends "base_single_card.html" %}

{% block title %}
Redirecting
{% endblock %}

{% block card %}
<div class="text-center">
  <h1 class="h4 text-gray-900 mb-4">Redirecting to {{ SAML_NAME }} Login Page</h1>
  <p>Please click the button below if you're not redirected automatically within a few seconds.</p>
  <form method="post" action="{{ target_url }}" name="SSO_Login">
  	{% for key, value in params.items %}
  	    <input type="hidden" name="{{ key }}" value="{{ value }}" />
  	{% endfor %}
      <input type="submit" class="btn btn-secondary" value="Log in">
  </form>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
	window.onload = function(){
		document.SSO_Login.submit();
	};
</script>
{% endblock %}
